/* Write your CSS here. */
body {
  background: no-repeat url("./forest.jpg");
  background-size: cover;
}

.road {
  display: grid;
  position: relative;
  justify-content: center;
  margin-top: 20%;
  /* align-content: flex-end; */
}

.pf {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.wgs {
  width: 173px;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 173px;
  height: 200px;
  position: absolute;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  width: 173px;
  height: 60px;
  position: absolute;
  bottom: 0px;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}
