/* Write your CSS here. */
.wgs {
  width: 320px;
  height: 241px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 173px;
  height: 200px;
  position: absolute;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  width: 173px;
  height: 200px;
  position: absolute;
  /* top: 131px; */
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}

.pf {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
